/* You can add global styles to this file, and also import other style files */
body{
    font-family: Roboto,Courier, monospace;
    margin: 0;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}
